# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs, reports and system files
.DS_Store
logs/
reports/
testCases/reports/
testCases/screenshots/
playwright/.cache/
screenshots/

# Ignore environment files
.env
venv/
*.env
